@{
    ViewData["Title"] = "Confirmação de Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Obrigado por confirmar o email, agora já se pode autenticar e entrar no sistema.
    </p>
</div>