@model SalesCodeSpace.Data.Entities.Country

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>Tem a certeza que quer apagar este país ?</h3>
<div>
    <partial name="_CountryDetails"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Voltar</a>
    </form>
</div>
