@{
    ViewData["Title"] = "Encomenda bem sucedida";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/Shopping.png" style="width:400px;"/>
        <h2>Obrigado!</h2>
        <h4>O seu pedido foi registado no nosso sistema, e brevemente comunicaremos consigo.</h4>
        <a asp-action="Index" class="mt-2 btn btn-outline-success">Inicio</a>
    </div>
</div>


