@{
ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    A aplicação SALESCODESPACE, uma aplicação WEB propriedade de RAFA SAINTS, uma pessoa natural domiciliada na
    Colômbia,
    regida pela lei colombiana e pelos presentes Termos e Condições, os quais o UTILIZADOR se compromete a respeitar
    desde o momento da entrada no site. Se o UTILIZADOR não concordar com qualquer um dos presentes Termos e Condições,
    deverá abster-se de entrar no site ou usar os seus serviços.
</p>
<p>
    SALESCODESPACE é uma aplicação adequada apenas para maiores de idade, de acordo com a lei colombiana, e a entrada ou
    uso
    por menores é estritamente proibido. RAFA SAINTS não assume qualquer responsabilidade pelos danos a utilizadores ou
    terceiros que a entrada ou uso por menores possa causar. Para entrada ou uso em jurisdições diferentes, o UTILIZADOR
    deverá garantir que cumpre os critérios de maioridade do local de acesso.
</p>
<p>
    <strong>1. Definições</strong>
</p>
<p>
    a. Utilizador: pessoa que faz download, instala o SALESCODESPACE, propriedade de RAFA SAINTS, ou utiliza quaisquer
    dos
    seus serviços.
</p>
<p>
    b. Aplicação ou APP. Programa de software propriedade de RAFA SAINTS destinado a instalar e executar-se em
    dispositivos móveis e ao qual se aplicam os presentes termos e condições.
</p>
<p>
    c. Proprietário. RAFA SAINTS, que tem o controle sobre o conteúdo da aplicação, sua funcionalidade, bem como sua
    publicação.
</p>
<p>
    d. Tratamento de dados: Qualquer operação ou operações (coletar, armazenar, analisar, transmitir, apagar, etc.)
    realizadas com dados pessoais.
</p>
<p>
    e. Responsável pelo tratamento. Quem decide sobre o tratamento dado aos dados pessoais dos utilizadores, que para os
    efeitos destes termos e condições será RAFA SAINTS.
</p>
<p>
    f. Dado pessoal. Qualquer informação associada ou que possa ser associada a uma ou várias pessoas determinadas ou
    determináveis.
</p>
<p>
    g. Titular. Pessoa cujos dados pessoais são tratados.
</p>
<p>
    <strong>2. Política de tratamento de dados pessoais</strong>
</p>
<p>
    Ao fornecer dados pessoais e aceitar o seu tratamento, o UTILIZADOR autoriza que a aplicação e RAFA SAINTS
    armazenem, transmitam, transfiram a qualquer título as informações fornecidas. Da mesma forma, aceita o uso para
    fornecer um melhor serviço, fins comerciais, publicitários e a comunicação de ofertas da aplicação, de RAFA SAINTS
    e de terceiros aos quais as informações tenham sido transferidas a qualquer título.
</p>
<p>
    Ao fornecer seus dados pessoais, o UTILIZADOR aceita que estes façam parte da base de dados gerada pela aplicação ou
    por RAFA SAINTS e que esta seja incluída, juntamente com sua informação, nos ativos da aplicação ou de RAFA SAINTS
    para operações de venda, fusão, cisão ou qualquer outra operação comercial.
</p>
<p>
    <strong>Obrigações do proprietário</strong>
</p>
<p>
    <strong>Medidas de proteção:</strong> Para garantir a privacidade dos dados pessoais fornecidos pelo UTILIZADOR, o
    proprietário compromete-se a tomar as medidas de proteção necessárias para evitar o acesso não autorizado a essas
    informações. Estas medidas serão ajustadas de acordo com o tipo de informação fornecida, mas em nenhum caso será
    assumida uma obrigação de resultado em relação à proteção desses dados. Em caso de acesso não autorizado, violação
    ou falha nos serviços de segurança, o proprietário compromete-se a resolver o problema dentro de um tempo razoável,
    mas não será responsável pelos danos causados ao UTILIZADOR ou a terceiros devido à violação das medidas de
    segurança estabelecidas ou ao acesso abusivo ao sistema informático de RAFA SAINTS.
</p>
<p>
    <strong>Controlo da informação:</strong> O UTILIZADOR poderá, a qualquer momento, solicitar a correção, retificação
    ou atualização das informações fornecidas. Quando a Superintendência de Comércio verificar que o proprietário violou
    a política de proteção de dados estabelecida aqui ou os mínimos estabelecidos pela lei, o UTILIZADOR poderá
    solicitar a exclusão de seus dados pessoais tanto da aplicação quanto das bases de dados de RAFA SAINTS e de
    terceiros aos quais as informações tenham sido transferidas a qualquer título.
</p>
<p>
    <strong>Termos de resposta:</strong> O proprietário responderá em um máximo de 10 (dez) dias úteis às solicitações
    de consulta de dados pessoais apresentadas pelo UTILIZADOR através dos canais estabelecidos para esse fim. Quando a
    solicitação for de correção, atualização ou exclusão dos dados, o prazo de resposta será de 15 (quinze) dias úteis.
</p>
<p>
    <strong>Canais de atendimento:</strong> Para solicitações de atualização, retificação, atualização ou exclusão de
    seus dados pessoais, o UTILIZADOR poderá dirigir-se ao endereço de e-mail JZULUAGA55@GMAIL.COM e ao telefone +57 322
    311 4620.
</p>
<p>
    <strong>Cópia de autorização:</strong> O proprietário conservará uma cópia da autorização concedida pelo UTILIZADOR
    para o tratamento de seus dados pessoais e entregará a mesma dentro de 10 (dez) dias úteis após a solicitação feita
    pelo UTILIZADOR. Os prazos começarão a contar a partir do dia útil seguinte à data da realização da solicitação.
</p>
<p>
    <strong>Revelação de informação:</strong> RAFA SAINTS poderá divulgar os dados pessoais do UTILIZADOR quando
    solicitado por autoridades administrativas ou judiciais competentes.
</p>
<p>
    <strong>3. Propriedade intelectual</strong>
</p>
<p>
    O conteúdo do site, incluindo, mas não se limitando a, imagens, texto, vídeos, logotipos, designs, diagramas,
    arquivos, etc., é propriedade de RAFA SAINTS e o UTILIZADOR só poderá usá-lo para fins pessoais. Qualquer download,
    reprodução, armazenamento, transmissão, transferência a qualquer título, para fins não pessoais é proibido.
</p>
<p>
    Quando houver conteúdo de terceiros na aplicação (artigos, imagens, opiniões, vídeos, logotipos, designs, entre
    outros), isso é feito com a autorização dos autores do conteúdo e seu download, reprodução, armazenamento,
    transmissão ou transferência a qualquer título pelo UTILIZADOR estará sujeito às mesmas restrições do parágrafo
    anterior.
</p>
<p>
    Sobre os conteúdos que o UTILIZADOR inserir na aplicação e que não constituam dados pessoais (opiniões, comentários,
    imagens, vídeos, logotipos, designs, entre outros), o UTILIZADOR concede à aplicação e a RAFA SAINTS uma licença
    para seu uso sem restrições, incluindo, mas não se limitando a, armazenamento, reprodução, transferência a qualquer
    título, oneroso, gratuito, exibição, entre outros.
</p>
<p>
    <strong>4. Qualidade da informação fornecida</strong>
</p>
<p>
    O conteúdo publicado na aplicação por qualquer meio ou formato (texto, vídeo, imagens, etc.) tem propósitos
    meramente enunciativos e não constitui aconselhamento ou conselho sobre qualquer um dos assuntos tratados. JUAN
    ZULUAGA não garante a atualidade ou veracidade das informações contidas, sem prejuízo daquelas que constituam oferta
    comercial ou parte dela de acordo com a normativa colombiana.
</p>
<p>
    RAFA SAINTS não garante a atualidade ou veracidade das informações contidas em sites da web, arquivos, aplicativos
    e outros conteúdos de terceiros aos quais o UTILIZADOR seja redirecionado a partir da aplicação de sua propriedade,
    bem como do conteúdo fornecido por outros utilizadores nos espaços designados para tal. O acesso e uso dos sites da
    web, arquivos, aplicativos e similares aos quais o UTILIZADOR seja redirecionado a partir do SALESCODESPACE estarão
    sujeitos aos termos e condições dos mesmos, sobre os quais RAFA SAINTS não tem qualquer responsabilidade. RAFA
    SAINTS também não garante que o conteúdo de sites da web, arquivos ou aplicativos de terceiros esteja em
    conformidade com a legislação colombiana sobre proteção de dados ou que o conteúdo apresentado lá seja legal de
    acordo com a legislação portuguesa.
</p>
<p>
    RAFA SAINTS não se responsabiliza por danos ou prejuízos que possam ser causados ao UTILIZADOR ou a terceiros pela
    inexatidão, erro ou veracidade das informações fornecidas no site ou em sites da web, aplicativos, arquivos,
    documentos e conteúdos de terceiros para os quais o UTILIZADOR seja redirecionado, bem como por falhas parciais ou
    totais no funcionamento do mesmo, códigos maliciosos que terceiros incluam no site ou em seus arquivos. Isso sem
    prejuízo das informações que constituam oferta comercial no SALESCODESPACE de acordo com a normativa colombiana.
</p>
<p>
    <strong>5. Moderação</strong>
</p>
<p>
    Para garantir o adequado funcionamento da aplicação e uma experiência segura para os utilizadores, RAFA SAINTS
    poderá:
</p>
<p>
    a. Alterar a qualquer momento os presentes Termos e Condições, bem como a política de privacidade da aplicação.
</p>
<p>
    b. Negar o registro de um UTILIZADOR.
</p>
<p>
    c. Excluir a qualquer momento os dados pessoais do UTILIZADOR de suas bases de dados.
</p>
<p>
    d. Excluir o conteúdo que o UTILIZADOR tenha inserido na aplicação, incluindo, mas não se limitando a, comentários,
    imagens, logotipos, vídeos, planos, designs, entre outros.
</p>
<p>
    e. Suspender temporária ou permanentemente a publicação da aplicação, bem como quaisquer dos serviços que preste.
</p>
<p>
    f. Excluir sem aviso prévio parte ou todo o conteúdo adicionado pelo UTILIZADOR à aplicação.
</p>
<p>
    O UTILIZADOR, para garantir o adequado funcionamento do site e uma experiência segura para os outros, deverá:
</p>
<p>
    a. Aceder apenas às secções da aplicação para as quais foi autorizado.
</p>
<p>
    b. Abster-se de fornecer dados pessoais falsos ou que induzam em erro a aplicação, RAFA SAINTS, outros utilizadores
    ou terceiros, ou que pretendam fazer-se passar por eles.
</p>
<p>
    c. Abster-se de realizar atividades comerciais ou promocionais nos espaços em que a aplicação permita a inserção de
    conteúdo, a menos que expressamente autorizado.
</p>
<p>
    d. Abster-se de fazer download, reprodução, duplicação, transmissão, armazenamento, exibição e, em geral, dispor do
    conteúdo da aplicação para fins não pessoais, como atividades comerciais, promocionais, lucrativas, entre outras.
</p>
<p>
    e. Abster-se de fornecer a terceiros suas credenciais de entrada (DOCUMENTO, TELEFONE, ENDEREÇO, EMAIL E SENHA). A
    aplicação e RAFA SAINTS não serão responsáveis pelos danos ou prejuízos que a violação desta proibição possa causar
    ao UTILIZADOR ou a terceiros.
</p>
<p>
    f. Abster-se de difamar, caluniar ou intimidar outros utilizadores através dos meios disponibilizados pela aplicação
    para interação entre eles ou para a publicação de conteúdo dos utilizadores. Da mesma forma, o UTILIZADOR deverá
    abster-se de publicar conteúdo imoral, racista, sexista, obsceno, abertamente ilegal ou que viole estes termos e
    condições.
</p>
<p>
    g. Abster-se de enviar e-mails ou mensagens não solicitadas (SPAM) a outros utilizadores da aplicação, seja através
    dos meios de comunicação disponíveis dentro do próprio site ou externos.
</p>