html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.foot a {
  text-decoration: none;
  color: white;
}

.foot a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}

/*Zoom images*/
.zoom {
  padding: 5px;
  background-color: transparent;
  transition: transform .2s;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2);
  /* IE 9 */
  -webkit-transform: scale(2);
  /* Safari 3-8 */
  transform: scale(2);
}