@model SalesCodeSpace.Models.CreateProductViewModel

@{
    ViewData["Title"] = "Novo produto";
}

<h1>Criar novo produto</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categories" />
            <partial name="_CreateProduct" />
            <div class="form-group mt-2">
                <input type="submit" value="Criar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}